{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <form method="post">
        {% csrf_token %}
        <h2>Login</h2>
        {{ form.username.label }}
        {{ form.username }}
        
        {{ form.password.label}}
        {{ form.password }}
        <button type="submit" id="new" class="btn btn-primary w-100">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>
    
{% endblock%}